PORT=5000
MONGODB_URI=mongodb://localhost:27017/portfolio
JWT_SECRET=supersecretkey_portfolio_jwt_token_2026
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@portfolio.com
ADMIN_PASSWORD=admin123
NODE_ENV=development
